  <!--Start loading-->
<div class="loader">
 </div>
<!--   End loading-->

<div class="header-top ">
    <div class="container">
        <div class="row">
            <div class="col-xs-4  ">
                <ul class="social">
                    <li>
                        <a href=@ViewBag.tiwitter target="_blank"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href=@ViewBag.pinteres  target="_blank"><i class="fa fa-pinterest-p"></i></a>
                    </li>
                    <li>
                        <a href=@ViewBag.google  target="_blank"><i class="fa fa-google-plus"></i></a>
                    </li>
                    <li>
                        <a href=@ViewBag.facebook  target="_blank"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href=@ViewBag.instagram  target="_blank"><i class="fa fa-instagram"></i></a>
                    </li>

                </ul>
            </div>
            <div class="col-xs-8  ">
                <ul class="phone text-left">
                    <li>
                        <span>info@naqelat.sa&nbsp;<i class="fa fa-envelope"></i></span>
                    </li>
                    @*<li>
                        <span> @*123-456-7890(01)&nbsp;<i class="fa fa-phone"></i></span>
                    </li>*@

                </ul>
            </div>
        </div>
    </div>
</div>


<header id="home">
    <nav class="navbar navbar-default">
        <div class="container">

            <div class="navbar-header">
                <div id="nav-icon4" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>

                <a class="navbar-brand" href="/Home/Index">
                    <img src="~/Content/images/logoBo.png">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navs">
                    <li class="active"><a href="#" data-value="home">الرئيسية </a></li>
                    <li><a href="#" data-value="about">عن التطبيق</a></li>
                    <li><a href="#" data-value="features">  كيف يعمل</a></li>
                    <li><a href="#" data-value="download">تحميل التطبيق</a></li>
                    <li><a href="#" data-value="counter">احصائيات</a></li>
                    <li><a href="#" data-value="details"> أسئلة متكررة  </a></li>
                    <li><a href="#" data-value="subscribe"> أشترك  </a></li>
                    <li><a href="#" data-value="pic">  صور من التطبيق </a></li>
                </ul>
            </div>
        </div>
        <!-- end container -->
    </nav>

    <img class="main-slider img-responsive wow bounceInUp" data-wow-duration="3s" data-wow-delay="0.0s" src="~/Content/images/mob-slider.png"
         alt="">

</header>
<!-- End Hader -->
<!-- Start  section2 -->
<section class="section2 text-center P_T_B_50 " id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="header-title">عن ناقــلات</h2>
        </div>
        <p>
            ناقلات منصة الكترونية تجمع مقدمي خدمة نقل البضائع وتأجير المعدات مع طالبي الخدمة ، وتتيح لطالبي الخدمة اتمام طلباتهم بطريقة الكترونية سهلة 
        </p>
        <div class="row">
            <div class="special">
                <div class="col-md-4 wow zoomIn" data-wow-duration="1s" data-wow-delay=".1s">
                    <ul>
                        <li>
                            <img src="~/Content/images/special.png" alt="">
                            <h3>أفضل العروض</h3>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 wow zoomIn" data-wow-duration="1.5s" data-wow-delay="0.2s">
                    <ul>
                        <li>
                            <img src="~/Content/images/frontal-truck.png" alt="">
                            <h3>شاحنات و معدات </h3>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 wow zoomIn" data-wow-duration="2s" data-wow-delay="0.3s">
                    <ul>
                        <li>
                            <img src="~/Content/images/chart.png" alt="">
                            <h3>خدمة النقل و التأجير </h3>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <img src="~/Content/images/section2.jpg" alt="" class="img-responsive">
</section>

<!-- End  section2 -->
<!-- Start section 3 -->
<section id="features">
    <div class="container">
        <div class="row">
            <div class="col-md-12  section-heading white-heading text-center">
                <div class="section-title text-center">
                    <h2>كيف يعمل التطبيق</h2>
                </div>
                <div class="sep-element"></div>
            </div>

            <div class="col-md-4 text-left about-box">
                <div class="features-wrapper left-icon">
                    <ul class="list-unstyled">
                        <li>
                            <div class="single-feature wow zoomIn" data-wow-duration="1s" data-wow-delay=".5s">
                                <div class="features-icon">
                                    <i> 1</i>
                                </div>
                                <div class="features-details">
                                    <h5>تصفح  </h5>
                                    <p>
                                        شاهد العروض والطلبات والاعلانات في التطبيق
                                    </p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </li>

                        <li>
                            <div class="single-feature aos-init aos-animate wow zoomIn" data-wow-duration="2s" data-wow-delay="1s">
                                <div class="features-icon">
                                    <i> 2</i>
                                </div>
                                <div class="features-details">
                                    <h5>اضف عرض او طلب </h5>
                                    <p>
                                        اضف طلب بعد اختيار المعدة او الشاحنة وبيانات الطلب ، ولمقدمي الخدمة تقديم العروض على الطلبات المتاحة 
                                    </p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 text-center about-box hidden-sm hidden-xs  mock" data-aos="fade-up">
                <img src="~/Content/images/mockup.png" class="img-responsive center-block  wow bounceInUp" data-wow-duration="1s" data-wow-delay="0s"
                     alt="">
            </div>
            <div class="col-md-4 text-right">
                <div class="features-wrapper right-icon">
                    <ul class="list-unstyled">
                        <li>
                            <div class="single-feature aos-init aos-animate  wow zoomIn" data-wow-duration="2s" data-wow-delay="2s">
                                <div class="features-icon">
                                    <i> 3</i>
                                </div>
                                <div class="features-details">
                                    <h5> عمّد</h5>
                                    <p>
                                        بعد اختيار العرض المناسب يتم التعميد
                                    </p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                        @*<li>
                            <div class="single-feature aos-init aos-animate  wow zoomIn" data-wow-duration="2s" data-wow-delay="3s">
                                <div class="features-icon">
                                    <i> 4 </i>
                                </div>
                                <div class="features-details">
                                    <h5>متابعة عملية الناقصة</h5>
                                    <p>
                                        الا كانت استدعى بـ, قد مرجع البشريةً مما, تلك ببعض محاولات والروسية كل. وجزر الحرة سبتمبر حتى ما, أم يبق ووصف ونتج غينيا,
                                        الدمج بتخصيص بريطانيا، ثم
                                    </p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </li>*@
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- End section3 -->
<!-- Start  section4 -->
<section class="section4" id="download">
    <div class=" container">
        <div class="row">
            <div class="col-md-7">
                <h2>أحصل عليه الآن</h2>
                <h1>تحميل تطبيق ناقــلات</h1>
                <p>
                    للاستمتاع بافضل الخدمات و العروض يمكنك الان تحميل تطبيق ناقلات من خلال متجر ابل او من خلال سوق جوجل دوت كوم
                </p>
                <div class="applicatios">
                    <ul>
                        <li>
                            
                            <a href="https://itunes.apple.com/us/app/ناقلات/id1281955092?mt=8" target="_blank"> <i class="fa fa-apple" aria-hidden="true"></i> تحميل من متجر أبل </a>
                        </li>
                        <li>
                            <a  href="https://play.google.com/store/apps/details?id=com.EJAB.naqelat" target="_blank"><i class="fa fa-android" aria-hidden="true"></i> تحميل من سوق جوجل </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-5">
                <img src="~/Content/images/Top-Screen.png" alt="" class="img-responsive center-block wow zoomIn" data-wow-duration="2s" data-wow-delay="0.0s">
            </div>
        </div>
    </div>
</section>
<!-- End  section4 -->
<!-- Start  section5 -->
<section class="section6 text-center " id="counter">
    <div class="container">
        <div class="row">
            @Html.Action("TopStatistics", "Statistics")
        </div>
        </div>
</section>
<!-- End  section5 -->
<!-- Start  section7 -->

<section class="section7 P_T_B_50" id="details">

    <div class="container">
        <div class="text-center">
            <h2 class="header-title">أسئلة متكررة</h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img src="~/Content/images/trunk.jpg" alt="" class="img-responsive wow zoomIn" data-wow-duration="2s" data-wow-delay="0.5s">
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5 ">
                <div class="panel-group" id="accordion-1" role="tablist" aria-multiselectable="true">

                  @Html.Action("TopQuestions", "Question")
                </div>
                <div class="row text-center">
                    <a href="/Question/AllFAQ" class="more-details"> عرض المزيد</a>
                </div>
            </div>


        </div>

    </div>

</section>
<!-- End  section7 -->
<!-- Start  section8 -->

<section class="section8 text-center " id="subscribe">
    @*<div class="container">
        <h3>اشترك معنا فى القائمه البريديه ليصلك كل جديد</h3>
        <form action="#">
            <div class="subcribe-form">
                <input class="form-control" name="email" type="email" placeholder="البريد الالكترونى" required="">
                <button class="btn btn-default" type="submit">اشترك</button>
            </div>
        </form>
    </div>*@
    @Html.Action("Subscripe", "Email")
</section>
<!-- End  section8 -->
<!-- Start section9 -->
<section class="section9 P_T_B_50" id="pic">

    <div class="container">
        <div class="text-center">
            <h2 class="header-title"> صور من تطبيق ناقــلات </h2>
        </div>
        <div class="pic">
            <div class="item"><img src="~/Content/images/1.png" alt=""></div>
            <div class="item"><img src="~/Content/images/2.png" alt=""></div>
            <div class="item"><img src="~/Content/images/3.png" alt=""></div>
            <div class="item"><img src="~/Content/images/4.png" alt=""></div>
            <div class="item"><img src="~/Content/images/fav.png" alt=""></div>
            <div class="item"><img src="~/Content/images/setting.png" alt=""></div>

        </div>
    </div>

</section>
 <!-- End section9 -->
<!-- Start   Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-xs-6">
                <img src="~/Content/images/logoBo.png" alt="" class="img-responsive center-block">
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="footer_title">
                    <h4>من نحن </h4>
                </div>
                <p>
                    ناقلات منصة الكترونية تجمع مقدمي خدمة نقل البضائع وتأجير المعدات مع طالبي الخدمة ، وتتيح لطالبي الخدمة اتمام طلباتهم بطريقة الكترونية سهلة
                </p>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="footer_title">
                    <h4>المقر الرئيسى </h4>
                </div>
                <ul>
                   
                    <li>العنوان : الرياض قرطبة</li>
                    <li>البريد الالكترونى : info@naqelat.sa</li>
                   
                </ul>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="footer_title">
                    <h4>خريطة الموقع </h4>
                </div>
                <ul>
                    <li> إتصل بنا </li>
                    <li>التواصل والإستفسار</li>
                    <li>عن ناقلات</li>
                    <li>
                        <ul class="social">
                            <li>
                                <a href=@ViewBag.tiwitter target="_blank"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href=@ViewBag.pinteres target="_blank"><i class="fa fa-pinterest-p"></i></a>
                            </li>
                            <li>
                                <a href=@ViewBag.google target="_blank"><i class="fa fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href=@ViewBag.facebook target="_blank"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href=@ViewBag.instagram target="_blank"><i class="fa fa-instagram"></i></a>
                            </li>

                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</footer>
<!-- End   Footer -->
<!-- Start Scroll up -->
<section id="scroll-top">
    <i class="fa fa-angle-double-up fa-3x"></i>
</section>
<!-- End Scroll up       -->




